body {
  font-family: 'Segoe UI', sans-serif;
}
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #ffffff;
  padding: 30px 28px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border: 1px solid #e0e0e0; 
  width: 100%;
  max-width: 400px;
  margin-top: -100px;
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
  font-weight: bold;
}

.login-card label {
  color: #000;
}

.login-card input {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.login-card input:focus {
  border-color: #000;
  outline: none;
  box-shadow: none;
}

.login-card .btn {
  background-color: #000;
  color: #fff;
  border: none;
  display: block;
  width:100%;
}

.login-card .btn:hover {
  background-color: #242323;
  color: rgb(250, 249, 249);

}
/* Navbar.css */
.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link-underline {
  position: relative;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-link-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s;
}

.nav-link-underline:hover::after {
  width: 100%;
}

/* dashboard css  */

.dashboard-container {
  font-family: 'Segoe UI', sans-serif;
  padding: 40px 20px;
  text-align: center;
}

.dashboard-heading {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.stats-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.stat-card {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

.stat-card p {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
