.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #ffffff;
  padding: 32px 28px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border: 1px solid #e0e0e0; 
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
  font-weight: bold;
}

.login-card label {
  color: #000;
}

.login-card input {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.login-card input:focus {
  border-color: #000;
  outline: none;
  box-shadow: none;
}

.login-card .btn {
  background-color: #000;
  color: #fff;
  border: none;
  display: block;
  width:100%;
}

.login-card .btn:hover {
  background-color: #333;
}
.nav-link-underline {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-link-underline::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link-underline:hover::after {
  width: 100%;
}
